* {
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
}

ol {
    list-style: none;
}

ul {
    list-style: none;
}

.key-link {
    cursor: pointer;
}

.key-link.leaf-node{
    cursor: default;
}

.key-link.leaf-node:before {
    content: '' !important;
}

.key-link.expanded:before {
    content: '▼';
}


.key-link.minimized:before {
    content: '▶';
}

.minimized-item {
    text-decoration: underline;
}
.minimized-item:hover {
    cursor: pointer;
}

.minimized-item:after {
    content: ' items';
}
